.mw-category {
    .SortBox {
        select {
            width: auto;
            height: auto;
            margin-left: 20px;
        }
    }
    .ProductList {
        margin-top: 20px;
        li {
            width: 100% !important;
            background-color: $color-light-gray;
            margin-bottom: 5px;
            padding: 10px;
            >* {
                margin-bottom: 5px 0px;
            }
            .ProductPriceRating {
                color: $color-danger;
            }
            .ProductImage {
                float: left;
                padding-right: 20px;
            }
            .QuickViewBtn {
                cursor: pointer;
            }
        }
    }
    #QuickViewProductDetails {
        p {
            background-color: $color-light-gray;
            margin: 10px -10px;
            padding: 10px;
        }
        .productAttributeRow {
            margin-bottom: 10px;
            .productAttributeLabel {
                font-weight: bold;
                float: left;
                margin-right: 5px;
            }
            .productAttributeValue {
                clear: both;
                select {
                    height: auto;
                    width: auto;
                }
            }
        }
    }
}