.mw-home {
    .Content {
        .Block {
            padding-bottom: 40px;
        }
        .ProductList {
            li {
                padding: 20px;
                .ProductPriceRating {
                    display: flex;
                    .Rating img {
                        max-width: none !important;
                    }
                }
            }
        }
        
    }
}