.mw-product {
    #Outer {
        padding: 10px;
    }
    .Content {
        .ImageCarouselBox {
            margin-top: 20px !important;
        }
        .ProductMain {
            background-color: $color-light-gray;
            margin: 0 -15px;
            padding: 10px;
            .DetailRow, .productAttributeRow {
                margin-bottom: 10px;
            }
            .Label {
                float: left;
                padding-right: 5px;
            }
            .Label, .productAttributeLabel {
                font-weight: bold;
            }
            select {
                width: auto;
                height: auto;
            }
            .productAttributeList {
                >* {
                    margin: 5px 0px;
                }
            }
        }
        .Panel {
            hr {
                margin-left: -10px;
                margin-right: -10px;
            }
        }
    }
}