// Variables

$spacing-mini: 5px;
$spacing-box: 10px; // for box-like spacing, like button padding
$spacing-para: 15px; // for vertical rhythm, e.g. bottom margin for p, img, togglers, boxes, etc.

$color-success: #0F0; // green
$color-danger: #F00; // red
$color-input-border: #d4d4d4; // gray
$color-link: #075899; // blue
$color-igadget-primary: #B03B01;
$color-logo: #C14102;
$color-dark-gray: #2d2d2d;
$color-light-gray: #f7f7f7;
$color-btn: #852201;

$base-font-family: sans-serif;
$base-font-size: 14px;
$base-border-input: 1px solid $color-input-border;
$base-border-radius: 3px;
